
extends ./layouts/main

include ./mixins/head 
include ./mixins/container 

block head 
 
  +head("Home")


block header 
 
 

    +container("w-4/5 mt-5")
    
      h1 You are using pug with tailwind and typescript congratulations